<mat-toolbar class="footer">
    <div class="left">
        <div class="logo">
            <img mat-card-image src="assets/images/logo-png-negativo.png">
        </div>
        <span>
            Conecta, Apoya, Crece
        </span>
        <a href="#">
            contacto&#64;redmujer.cl
        </a>
    </div>
    <div class="red-mujer">
        <h2 class="title">Red Mujer</h2>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/quienes-somos">Quiénes somos</a></li>
            <li><a href="/que-hacemos">Qué hacemos</a></li>
            <li><a href="/novedades">Novedades</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </div>
    <div class="emprendedoras">
        <h2 class="title">Emprendedoras</h2>
        <ul>
            <li><a href="/registro">Únete como emprendedora</a></li>
            <li><a href="/login">Iniciar sesión</a></li>
        </ul>
    </div>
    <div class="right">
        <div class="siguenos">
            <h2 class="title">Síguenos</h2>
            <ul>
                <li><a href="/facebook">Facebook</a></li>
                <li><a href="/instagram">Instagram</a></li>
                <li><a href="/x">X</a></li>
            </ul>
        </div>
        <div class="legales">
            <h2 class="title">Legales</h2>
            <ul>
                <li><a href="/terminos-y-condiciones">Términos y Condiciones</a></li>
                <li><a href="/politica-de-privacidad">Política de Privacidad</a></li>
            </ul>
        </div>
    </div>
</mat-toolbar>