<mat-toolbar class="footer">
    <div class="left">
        <div class="logo">
            <img mat-card-image src="assets/images/logo-png-color.png">
        </div>
        <span>
            Conecta, Apoya, Crece
        </span>
        <a href="#">
            contacto&#64;redmujer.cl
        </a>
    </div>
    <div class="red-mujer">
        <h2>Red Mujer</h2>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Quiénes somos</a></li>
            <li><a href="#">Qué hacemos</a></li>
            <li><a href="#">Novedades</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>
    <div class="emprendedoras">
        <h2>Emprendedoras</h2>
        <ul>
            <li><a href="#">Únete como emprendedora</a></li>
            <li><a href="#">Iniciar sesión</a></li>
        </ul>
    </div>
    <div class="right">
        <div class="siguenos">
            <h2>Síguenos</h2>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">X</a></li>
            </ul>
        </div>
        <div class="legales">
            <h2>Legales</h2>
            <ul>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Política de Privacidad</a></li>
            </ul>
        </div>
    </div>
</mat-toolbar>