<section class="login-container">
    <section class="login-info">
        <h2>Bienvenidas a RedMujer</h2>
        <h2>Nuestra red de emprendedoras</h2>
        <p>RedMujer el desarrollo integral de mujeres emprendedoras, entregando formación, mentorías y redes de apoyo.
            Conecta con otras empresarias, fortalece tus habilidades y haz crecer tu negocio.</p>
        <div class="login-ilustracion">
            <img src="assets/images/mujer-zapato.jpg" alt="Ilustración RedMujer Login">
        </div>
    </section>
    <section class="login-panel">
        <div class="logo">
            <img mat-card-image src="assets/images/logo-png-color.png">
        </div>
        <form [formGroup]="loginForm">
            <h2>Iniciar Sesión</h2>
            <mat-form-field appearance="outline">
                <mat-label>Correo</mat-label>
                <input formControlName="email" matInput required>
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" required>
                <mat-icon matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Ocultar contraseña'"
                    [attr.aria-checked]="!hidePassword">
                    {{hidePassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </mat-form-field>
            <a routerLink="/forgot-password">Recuperar Contraseña</a>
            <button mat-raised-button color="primary" (click)="onSubmit()" class="login-button">Iniciar Sesión</button>
            <div class="separator"></div>
            <button mat-button routerLink="/registro" class="register-button">¡Únete ahora!</button>
        </form>
    </section>
</section>