.login-layout {
    display: grid;
    grid-template-rows: 1fr 7fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
    padding-inline: 6rem;
    gap: 2rem;

    .header {
        display: flex;
        justify-content: right;
        align-items: center;

        button {
            margin-inline: 0.5rem;
        }

    }

    .main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .context {
        padding-inline: 3rem;

        h2 {
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
            color: #333;
        }
        
        p {
            font-size: 1.1rem;
            line-height: 1.6;
            margin-bottom: 1rem;
            color: #555;
            max-width: 80%;
        }
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;

    h2 {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    mat-form-field {
        width: 100%;
    }

    a {
        font-size: 0.9rem;
        color: #1976d2;
        text-decoration: none;
        text-align: right;

        &:hover {
        text-decoration: underline;
        }
    }

    button {
        margin-top: 0.5rem;
        padding: 0.75rem;
        width: 100%;
        font-weight: 500;
        font-size: 1rem;
        border: 2px solid;
    }
}