@use '../../../../../styles.scss' as *;

.login-container {
    background-color: #eee;
    display: flex;
    padding: 2rem;
    gap: 3rem;
    overflow: hidden;
    justify-content: center;
}

.login-info {
    display: flex;
    flex-direction: column;
    gap: 0rem;

    .login-ilustracion {
        width: 100%;
        text-align: center;
    }

    img {
        height: 300px;
        border-radius: 2rem;
        max-width: 100%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    h2 {
        font-size: 2.8rem;
        font-weight: 700;
        color: $primary-color;
        margin-bottom: 0;
        line-height: 1.1;
        width: fit-content;
        white-space: nowrap;
    }

    h2:last-of-type {
        font-size: 2rem;
        color: $secondary-color;
    }

    p {
        color: $secondary-color;
        font-size: 1.15rem;
        margin-bottom: 2rem;
        text-align: left;
        overflow-wrap: break-word;
    }
}

.login-panel {
    background-color: #fff;
    min-width: 340px;
    max-width: 450px;
    max-height: fit-content;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(231, 0, 76, 0.08);

    >p {
        color: $secondary-color;
        font-weight: 500;
        font-size: 1.1rem;
        text-align: center;
    }

    .logo img {
        height: 80px;
        width: auto;
        max-width: 160px;
        object-fit: contain;
        margin-right: 16px;
    }

    form {
        display: flex;
        flex-direction: column;

        h2 {
            color: $secondary-color;
        }
    }

    mat-form-field {
        width: 100%;
        margin-bottom: 0.5rem;
        border-radius: 30px;

        input {
            border-radius: 330px;
        }
    }

    .login-button {
        background: $primary-color;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
        color: #fff;
        font-weight: 600;
        border-radius: 8px;
        width: 100%;
        margin-top: 1rem;
        font-size: 1.1rem;
        transition: background 0.2s, opacity 0.2s;

        &:hover {
            background: darken($primary-color, 10%);
            opacity: 1;
            cursor: pointer;
        }
    }

    .register-button {
        background: white !important;
        color: #e91e63 !important;
        padding: 1rem 2.5rem;
        font-size: 0.95rem;
        font-weight: 600;
        border-radius: 8px;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .separator {
        height: 1px;
        background-color: #d3d3d3;
        margin: 1rem 0;
    }

    a {
        font-size: 0.95rem;
        font-weight: 300;
        transition: color 0.3s, transform 0.2s ease;
        color: blue;

        &:hover {
            color: darkblue;
        }

        &:active {
            color: navy
        }
    }
}

@media (max-width: 768px) {
    .login-info {
        display: none;
    }
}