@use '../../../styles.scss' as *;

html,
body {
    overflow-x: hidden;
    width: fit-content;
    margin: 0;
    padding: 0;
}

mat-toolbar {
    display: flex;
    align-items: center;
    min-height: 6rem;
    padding: 0 16px;
    background-color: #FFF8F7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    color: #37556f;

    img {
        height: 60%;
        width: auto;
        max-width: 100%;
        object-fit: contain;
        margin-right: 16px;
    }

    .menu-icon {
        display: none;
        margin-right: 16px;
        color: $secondary-color;
    }

    .desktop-nav {
        display: flex;
    }

    .desktop-buttons {
        display: flex;
        gap: 0.5rem;
    }

    button {
        margin-inline: 8px;
        font-size: large;
        font-weight: 500;
    }

    a {
        margin-inline: 16px;
        font-size: large;
        font-weight: 500;
        color: #37556f;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: #001d31;
        }
    }

    .signin-btn {
        border-style: solid;
        border-color: $primary-color;
        color: #37556f;
        transition-duration: 0.3s ease-in-out;
        padding-left: 1rem;
        padding-right: 1rem;

        &:hover {
            background-color: #cde5ff;
        }
    }

    .login-btn {
        background-color: $primary-color;
        color: white;
        transition-duration: 0.3s ease-in-out;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}

.spacer {
    flex: 1 1 auto;
}

.mobile-menu-dropdown {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    a.mat-button,
    button {
        text-align: left;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        font-size: large;
        font-weight: 500;
        color: $secondary-color;
        text-decoration: none;
        justify-content: flex-start;
    }

    .mobile-signin-btn,
    .mobile-login-btn {
        width: fit-content;
        padding: 8px 20px;
        font-size: 0.9em;
        margin: 0 auto 10px auto;
        display: block;

        &.mobile-signin-btn {
            color: $secondary-color;
            border: 0.5px solid $secondary-color;
            background-color: transparent;
            color: #37556f;

            &:hover {
                background-color: #cde5ff;
            }

        }

        &.mobile-login-btn {
            background-color: $primary-color;
            color: white;
            border: none;

            &:hover {
                background-color: darken($primary-color, 10%);
            }
        }
    }
}

@media (max-width: 768px) {
    mat-toolbar {
        .menu-icon {
            display: block;
        }

        .desktop-nav,
        .desktop-buttons {
            display: none;
        }

        img {
            margin-right: auto;
            margin-left: 0;
        }
    }
}

@media (min-width: 769px) {
    .mobile-menu-dropdown {
        display: none;
    }
}