@use '@angular/material' as mat;
@use './app/shared/styles/theme-colors' as my-theme;

// Variables de color y fuente
$primary-color: #e7004c;
$secondary-color: #00263e;
$background-color: #fff;
$font-family-main: 'Poppins', Roboto, "Helvetica Neue", sans-serif;

// Importar fuente Poppins desde Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: 'Poppins',
    density: 0,
  ));
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    font-family: $font-family-main;
}