<h2>Editar emprendimiento</h2>

<div class="card">
  <form class="formulario" [formGroup]="formulario" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

    <div class="form-col-left">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>RUT</mat-label>
        <input matInput formControlName="rut" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="descripcion"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Modalidad</mat-label>
        <mat-select formControlName="modalidad">
          <mat-option value="Presencial">Presencial</mat-option>
          <mat-option value="Online">Online</mat-option>
          <mat-option value="PresencialYOnline">Híbrida</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Horario de Atención</mat-label>
        <textarea matInput formControlName="horario_Atencion"></textarea>
      </mat-form-field>
    </div>

    <div class="form-col-right">
      <div class="image-upload" (click)="uploadInput.click()">
        <mat-icon>upload</mat-icon>
        <span class="image-text">Subir imagen principal</span>
        <input #uploadInput type="file" (change)="onFileSelected($event)" accept="image/*" hidden>
      </div>

      <div class="preview-container" *ngIf="imagenSeleccionada">
        <img [src]="imagenSeleccionada" alt="Vista previa" class="preview" />
        <button type="button" class="remove-btn" (click)="removeImagenPrincipal()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="extra-images-upload" (click)="extraUploadInput.click()">
        <mat-icon>collections</mat-icon>
        <span class="image-text">Agregar hasta 5 fotos adicionales</span>
        <small *ngIf="imagenesExtras.length > 0">{{ imagenesExtras.length }}/5 imágenes subidas</small>
        <input #extraUploadInput type="file" multiple accept="image/*" (change)="onExtraImagesSelected($event)" hidden/>
      </div>

      <div class="extra-preview" *ngIf="imagenesExtras.length > 0">
        <div class="mini-preview" *ngFor="let img of imagenesExtras; let i = index">
          <img [src]="img" alt="Imagen adicional {{ i + 1 }}" />
          <button type="button" class="remove-btn" (click)="removeExtraImage(i)">
            <div class="icon-container">
              <mat-icon>close</mat-icon>
            </div>
          </button>
        </div>
      </div>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">Guardar</button>
  </form>
</div>
