@use '../../../../../styles.scss' as *;

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: $font-family-main;
  color: $secondary-color;
  margin-bottom: 2rem;
  border-left: 6px solid $primary-color;
  padding-left: 1rem;
}
